/* font-family: 'Roboto', sans-serif; */
*,
*::before,
*::after {
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --clr-primary: #009966;
    --clr-complementary: #FF6600;
    --clr-bg: #F5F5F5;
    --clr-white: white;
    --clr-black: #000;
    --clr-gray1: #333333;
    --clr-gray2: #444444;
    --clr-gray3: #ddd;
}

body {
    font-family: "Roboto",  sans-serif; 
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-bg);
}

nav>button, .explore-button, .search-container, .logotext__icon, .exam-notification, .exam-index {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* a:hover {
    text-decoration: none;
} */

input:focus::placeholder {
    color: transparent;
}

section {
    margin-bottom: 40px;
}

header section {
    margin-bottom: 0;
}

.dark-1 {
    color: var(--clr-gray1);
}

.hover-darker:hover {
    background: var(--clr-gray3);
}

.container {
    max-width: 90%;
    margin: 0px auto;
}

.width-90 {
    max-width: 90%;
}

.width-80 {
    max-width: 80%;
}

.width-70 {
    max-width: 70%;
}

.width-20 {
    max-width: 20%;
}

.width-5e {
    width: 11em;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.center {
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.mbt-1 {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.mb-1 {
    margin-bottom: 0.4rem;
}

.mt-1 {
    margin-top: 0.4rem;
}

.mb-2 {
    margin-bottom: 0.8rem;
}

.mt-2 {
    margin-top: 0.8em;
}

.mt-3 {
    margin-top: 1em;
}

.mb-3 {
    margin-bottom: 1em;
}


.mt-5 {
    margin-top: 2em;
}

.mb-5 {
    margin-bottom: 2em;
}

.mlf-1 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.ml-1 {
    margin-left: 0.4rem;
}

.ml-0 {
    margin-left: 0em;
}

.ml-2 {
    margin-left: 0.8rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 2em;
}

.mr-1 {
    margin-right: 0.4rem;
}

.pl-1 {
    padding-left: 0.4rem;
}

.pr-1 {
    padding-right: 0.4rem;
}

.mpt-1 {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

.pb-1 {
    padding-bottom: 0.4rem;
}

.pt-1 {
    padding-top: 0.4rem;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.navbar .e4y__left {
    display: flex;
    margin: auto 0px;
}

.navbar .e4y__left .button, .navbar .e4y__left .form {
    margin: auto 10px;
}

.icon {
    margin: auto 0;
    height: 28px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.down__icon {
    width: 28px;
    background-image: url("../assets/down.svg");
}

.right__icon-black {
    display: inline-block;
    width: 28px;
    background-image: url("../assets/right_black.svg");
}

.exam-icon {
    width: 28px;
    height: 28px;
}

.ENGINEERING {
    background-image: url("../assets/categoryicons/engineering.svg");
}
.MEDICAL {
    background-image: url("../assets/categoryicons/medicine.svg");
}
.BANK {
    background-image: url("../assets/categoryicons/bank.svg");
}
.MBA {
    background-image: url("../assets/categoryicons/mba.svg");
}
.CIVIL_SERVICES {
    background-image: url("../assets/categoryicons/civilservices.svg");
}
.FOREIGN_STUDY {
    background-image: url("../assets/categoryicons/foreignstudies.svg");
}
.SCHOOL {
    background-image: url("../assets/categoryicons/school.svg");
}

.admit-card-icon {
    width: 49px;
    height: 45px;
    background-image: url("../assets/admitcard.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.divider-horizontal {
    border-bottom: 1px solid var(--clr-gray3);
}

.divider-horizontal-primary {
    border-bottom: 2px solid var(--clr-primary);
}

.space-around {
    justify-content: space-around;
}

.ql-link {
    display: inline-block;
    width: 4em;
}

.success {
    background-color: var(--clr-primary);
}

.bg-white {
    background-color: var(--clr-white);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-complementary {
    background-color: var(--clr-complementary);
}

.white {
    color: var(--clr-white);
}

.primary {
    color: var(--clr-primary);
}

.gray-1 {
    color: var(--clr-gray1);
}

.gray-2 {
    color: var(--clr-gray2);
}

.gray-3 {
    color: var(--clr-gray3);
}

.font-25 {
    font-size: 1.8rem;
}

.font-20 {
    font-size: 1.4rem;
}

.font-18 {
    font-size: 0.9rem;
}

.font-16 {
    font-size: 0.8rem;
}

.font-15 {
    font-size: 0.7rem;
}

.font-10 {
    font-size: 0.6rem;
}

.font-bold {
    font-weight: 700;
}

.font-normal {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.text-center {
    align-self: center;
    text-align: center;
}

.shadow {
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.24);
}

.round-border-5 {
    border: 1px solid transparent;
    border-radius: 5px;
}

.button {
    cursor: pointer;
    padding: 10px 16px;
    margin: 0 10px 0 0;
    position: relative;
    border-radius: 5px;
    border: 3px solid transparent;
}

.card {
    margin: 2vh 1vw 0;
    padding: 2vh 2vw;
    position: relative;
    border-radius: 2em;
    border: 3px solid transparent;
}

.button:hover {
    opacity: 0.9;
}

.button span{
    cursor: pointer;
    color: var(--clr-white);
    display: inline-block;
    vertical-align: middle;
}

.ghost-on-hover {
    background-color: transparent;
    border: 2px solid var(--clr-primary);
}

.ghost-on-hover span{
    color: var(--clr-primary);
    border:none
}

.ghost-on-hover .down__icon{
    background-image: url("../assets/down_green.svg");
}



.main {
    padding-top: 20px;
}

.main .landing__content {
    display: inline-block;
}

.main .main__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-gray1);
}

.main .main__intro {
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--clr-gray1);
}

.main .button {
    display: block;
    margin: 20px auto 0px;
    text-transform: uppercase;
    width: 200px
}

.main .main-bg {
    z-index: -1;
    position: relative;
    margin: 0 auto;
    width: 110%;
    height: auto;
    top: -20px;
    left: -3vw;
}

.learn-with-us {
    text-align: center;
}

.learn-with-us h2 {
    color: var(--clr-gray1);
    font-size: 2rem;
}

.learn-with-us p {
    margin: 10px 0;
    color: var(--clr-gray1);
    font-size: 1.2rem;
}

.learn-with-us img {
    width: 50px;
    height: auto;
}

.learn-with-us h3 {
    margin: 10px 0;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--clr-gray2);
}

.learn-with-us div {
    margin-top: 25px;
    margin-bottom: 20px;
}

.learn-with-us>div>div {
    max-width: 300px;
}

.knowledge__landing {
    margin: 30px auto;
    text-align: center;
    font-size: 1.2rem;
    color: var(--clr-gray1);
}

.knowledge__landing p {
    margin: 0 0 30px 0;
}

.knowledge__landing img {
    width: 70vw
}

.underline__green__partial {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}

.underline__green__partial::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--clr-primary);
}

.center-button {
    display: block;
    margin: 1em auto;
    padding: 0.5em 0.5em;
}

.space-between {
    justify-content: space-between;
}

.news-card {
    flex-wrap: nowrap;
    margin: 1vh 1vw;
    border-radius: 1em;
}

.exams-content {
    flex: 1 1 20em;
}

.flex-wrap {
    flex-wrap: wrap;
}

.news-card:first-of-type {
    margin: 2vh 1vw 0;
}

.qp-card {
    min-width: 12em;
}

.min-width-10 {
    min-width: 10em;
}

.qp-card + .qp-card {
    margin-left: 1em;
}

.tabs {
    max-width: 90%;
    margin: 0px auto;
    margin-top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-color: var(--clr-complementary);
}

.tab-element {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
}

.tab-element.selected {
    color: var(--clr-primary);
}

.tab-element.selected::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--clr-primary);
}

.seo__container {
    /* text-align: center; */
    color: var(--clr-gray2);
}

.seo__container h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--clr-gray2);
}

.seo__container h3 {
    font-size: 1.1rem;
    color: var(--clr-gray2);
}

.seo__container ul {
    padding: 0;
    list-style-type: none;
}

.seo__container div {
    justify-content: space-around;
}

.seo__container a {
    color: var(--clr-gray2);
}

.seo__container>div>div {
    margin: 20px;
}

.footer {
    margin: 20px auto 20px;
    font-size: 0.9rem;
    color: var(--clr-gray2);
}

.footer .details {
    justify-content: space-around;
    align-content: center;
}

.footer .details a{
    color: var(--clr-gray2);
}

.footer .details a{
    margin-left: 2vw;
}

.megaMenu-container {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    width: 460px;
    padding: 25px 5px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

/* triangle on top of megaMenu */
.megaMenu-container:after {
    z-index:2;
    content: "";
    position: absolute;
    top: 15px;
    left: 72px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--clr-white);
} 

.megaMenu {
    padding-top: 1rem;
    background-color: var(--clr-white);
}

.mega-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexbox-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid-3 {
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(12em, 1fr) );
    justify-items: center;
    grid-gap: 1em;
}  

.secondary {
    justify-content: flex-start;
}

.mega-col-title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.mega-content {
    display: flex;
}

.mega-row {
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 50%;
}

.item-2 {
    width: 80%;
}

.left-info {
    flex-wrap: nowrap;
    padding: 0px 16px;
    position: relative;
}

.sort {
    display: none;
}

.examinations-cards {
    flex: 1;
}

@media(max-width:320px) {
    .learn-with-us img {
        width: 20vw;
        height: auto;
    }
}

@media(max-width:480px) {
    .news-image {
        flex: 0 0 0px;
    }
}

@media(min-width:480px) {
    .news-image {
        flex: 0 0 100px;
    }

    .main .main__intro {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
}

@media(min-width:802px) {

    
    .examinfo__content {
        display: grid;
        grid-template-columns: repeat(3,minmax(0, 1fr)) 
    }

    .exam-notification {
        display: inline-block;
        grid-column: -2 / span 1;
    
    }
    
    .exam-info {
        grid-column: 1 / -2;
        grid-row: 1;
    }

    .exam-material {
        grid-column: 1 / -2;
        grid-row: 1;
    }

    .display-block {
        display: block;
    }

    .notifications {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hover-blue:hover {
        color: blue;
    }

    .logotext__icon {
        display: inline-block;
        margin: auto 10px;
        width: auto;
        height: 28px;
    }

    .logo__icon {
        height: 30px;
    }

    .main .main-bg {
        margin: 0 auto;
        width: 70%;
        height: auto;
        top: 0px;
        left: 0vw;
    }

    .main .landing__content {
        width: 60%;
    }

    .landing__main {
        width: 90%;
        margin: 30px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .main .main__intro {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .learn-with-us>div {
        justify-content: space-around;
    }

    nav {
        align-items: center;
    }

    .knowledge__landing .offerings {
        margin-right: auto;
        width: 30vw;
        height: auto;
    }

    .knowledge__landing .knowledge__content {
        width: 30vw;
        height: auto;
    }
}

@media(min-width:1202px) {


    .sort {
        flex: 0 0 23%;
        align-self: flex-start;
    }

    .examinations-cards {
        flex: 0 0 74%
    }

    .exam-material {
        grid-column: 2 / -2;
        grid-row: 1;
    }

    .exam-index {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .qp-card {
        min-width: 13em;
    }

    .font-25 {
        font-size: 2rem;
    }
    
    .font-20 {
        font-size: 1.5rem;
    }
    
    .font-18 {
        font-size: 1rem;
    }
    
    .font-16 {
        font-size: 0.9rem;
    }
    
    .font-15 {
        font-size: 0.8rem;
    }
    
    .font-10 {
        font-size: 0.7rem;
    }
    
    .examinfo__content {
        display: grid;
        grid-template-columns: repeat(4,minmax(0, 1fr)) 
    }

    nav .menu__icon, .search__icon {
        display: none;
    }

    .navbar {
        height: 70px;
        display: flex;
    }

    .knowledge__landing {
        width: 80%;
    }

    .knowledge__landing .offerings {
        margin-right: auto;
        width: 300px;
        height: auto;
    }

    .explore-button, .login-button {
        height: 40px;
        width: 100px;
        margin: auto 0;
        padding: 0 0;
        display: inline-block;
    }

    .button-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-container {
        height: 39px;
        display: inline-block;
        display: flex;
        width: 350px;
    }
        
    .search-form {
        position: relative;
        flex: 1;
        display: flex;
        width: 100%;
        border: 1px solid var(--clr-gray3);
        border-radius: 8px 0 0 8px;
    }
    
    .search-container input {
        margin: 2px 4px 2px 8px;
    }
    
    .search-bar {
        display: block;
        font-size: 16px;
        padding: 0 0 0 8px;
        flex: 1;
        height: 35px;
        outline: none;
        border: none;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        overflow: hidden;
    }

    .search-from:active {
        border: 1px solid var(--clr-complementary);
    }
    
    #search-button {
        flex: 0 0 auto;
        width: 39px;
        height: 39px;
        border-bottom: 0;
        padding: 0;
        border-radius: 0 8px 8px 0;
        background-color: var(--clr-primary);
        border: 1px solid var(--clr-primary);
        background-image: url("../assets/search.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .main .main__title {
        font-size: 3rem;
    }

    .main .landing__content {
        margin-bottom: 100px;
    }
}
